In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import datetime

# Study data files
bitcoin_path = "Resources/coin_Bitcoin.csv"
ethereum_path = "Resources/coin_Ethereum.csv"
cardano_path = "Resources/coin_Cardano.csv"
dogecoin_path = "Resources/coin_Dogecoin.csv"
polkadot_path = "Resources/coin_Polkadot.csv"

# Read the crypto history data and form dataframes
bitcoinData = pd.read_csv(bitcoin_path)
ethereumData = pd.read_csv(ethereum_path)
cardanoData = pd.read_csv(cardano_path)
dogecoinData = pd.read_csv(dogecoin_path)
polkadotData = pd.read_csv(polkadot_path)

bitData_df = pd.DataFrame(bitcoinData)
ethData_df = pd.DataFrame(ethereumData)
anaData_df = pd.DataFrame(cardanoData)
dogeData_df = pd.DataFrame(dogecoinData)
dotData_df = pd.DataFrame(polkadotData)

In [11]:
bitData_df["Date"] = pd.to_datetime(bitData_df["Date"], format="%Y-%m-%d %H:%M:%S")

In [13]:
bitData_df["Date"][0]

Timestamp('2013-04-29 23:59:59')

In [27]:
bitData_df["month"]= bitData_df["Date"].dt.month

In [29]:
bitData_df.set_index(["Date"]).loc["2015"].groupby("month").mean()

,SNo,High,Low,Open,Close,Volume,Marketcap,year
month,,,,,,,,
1,628.0,261.391583,240.495550,251.799905,248.782547,3.544555e+07,3.415388e+09,1.0
2,657.5,240.211430,227.769678,232.821856,234.153645,2.541138e+07,3.240843e+09,2.0
3,687.0,274.850999,263.134162,269.278419,269.042259,3.093865e+07,3.752337e+09,3.0
4,717.5,238.957098,231.734033,235.708668,235.491534,2.241129e+07,3.310554e+09,4.0
5,748.0,239.563161,234.939388,237.161806,236.997001,1.832654e+07,3.357846e+09,5.0
6,778.5,240.127034,235.028233,236.941433,238.081766,2.099267e+07,3.399885e+09,6.0
7,809.0,284.122356,274.771742,278.857679,279.563740,3.225459e+07,4.023454e+09,7.0
8,840.0,256.415905,247.146256,252.986774,250.733805,2.919975e+07,3.636195e+09,8.0
9,870.5,236.684667,231.632166,233.486733,233.595533,2.012080e+07,3.414870e+09,9.0
10,901.0,267.740645,260.490968,262.306000,264.855356,3.075095e+07,3.902334e+09,10.0
11,931.5,361.374567,336.263869,346.866833,348.883332,7.258745e+07,5.179306e+09,11.0
12,962.0,431.568609,413.460000,422.618033,424.464547,6.762097e+07,6.354368e+09,12.0

In [19]:
polkadotData

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Polkadot,DOT,2020-08-21 23:59:59,3.090093,2.730919,2.896923,2.875028,4.931314e+07,0.000000e+00
1,2,Polkadot,DOT,2020-08-22 23:59:59,4.510613,2.816762,2.878570,4.484690,4.858011e+08,0.000000e+00
2,3,Polkadot,DOT,2020-08-23 23:59:59,4.487058,3.716271,4.487058,3.967066,3.207495e+08,0.000000e+00
3,4,Polkadot,DOT,2020-08-24 23:59:59,4.783158,3.812670,3.987413,4.602614,4.076902e+08,0.000000e+00
4,5,Polkadot,DOT,2020-08-25 23:59:59,5.760775,4.501223,4.584953,5.523393,8.988475e+08,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...
315,316,Polkadot,DOT,2021-07-02 23:59:59,15.469187,14.675115,15.219061,15.340774,7.531948e+08,1.468349e+10
316,317,Polkadot,DOT,2021-07-03 23:59:59,15.776978,15.068263,15.321934,15.553716,7.112351e+08,1.489035e+10
317,318,Polkadot,DOT,2021-07-04 23:59:59,16.579445,15.221813,15.553584,16.014026,7.520759e+08,1.533547e+10
318,319,Polkadot,DOT,2021-07-05 23:59:59,15.996540,14.788740,15.996540,15.235582,8.448446e+08,1.459323e+10
319,320,Polkadot,DOT,2021-07-06 23:59:59,16.162344,15.210810,15.240785,16.143564,1.001573e+09,1.546772e+10

In [22]:
bitData_df.loc["2015":"2019"]

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,year
2015,2016,Bitcoin,BTC,2018-11-04 23:59:59,6388.63,6294.57,6365.47,6376.13,4.390020e+09,1.106892e+11,11
2016,2017,Bitcoin,BTC,2018-11-05 23:59:59,6480.59,6363.62,6363.62,6419.66,4.174800e+09,1.114562e+11,11
2017,2018,Bitcoin,BTC,2018-11-06 23:59:59,6463.55,6408.16,6433.38,6461.01,4.700040e+09,1.120956e+11,11
2018,2019,Bitcoin,BTC,2018-11-07 23:59:59,6552.16,6468.31,6468.50,6530.14,4.941260e+09,1.133956e+11,11
2019,2020,Bitcoin,BTC,2018-11-08 23:59:59,6536.92,6438.53,6522.27,6453.72,4.665260e+09,1.120784e+11,11

In [24]:
bitData_df["2015"]

KeyError: '2015'